<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.martinihour">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MartiniHour">
        <activity android:name="com.app.martinihour.Activities.VodkaTypeScreen" />
        <activity android:name="com.app.martinihour.Activities.GinTypeScreen" />
        <activity android:name="com.app.martinihour.Activities.FavoriteListScreen" />
        <activity android:name="com.app.martinihour.Activities.VodkaModernScreen" />
        <activity android:name="com.app.martinihour.Activities.VodkaClassicScreen" />
        <activity android:name="com.app.martinihour.Activities.GinModernScreen" />
        <activity android:name="com.app.martinihour.Activities.GinClassicScreen" />
        <activity android:name="com.app.martinihour.Activities.RandomScreen" />
        <activity android:name="com.app.martinihour.Activities.MainActivity" android:theme="@style/Theme.MartiniHourAppwithoutAction" />
        <activity
            android:name="com.app.martinihour.Activities.SplashScreen"
            android:theme="@style/Theme.MartiniHourAppwithoutAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>